/* Extension and Community */
.extension-community-main{
    min-height: 100dvh;
    margin: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.extension-community-title{
    font-size: var(--fs-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
.swiper-container{
    width: 100dvw;
    padding-top: 2em ;
    padding-bottom: 8em;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 600px; /* Set a fixed width */
     height: 338px;
}
.slide-div{    
    text-align: justify;
    margin: 0 300px;
 }
 .slide-div h5{    
    text-align: center;
 }