/* Extension and Community */
.extension-community-main{
    min-height: 100dvh;
    margin: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.extension-community-container{
    display: flex;
    flex-direction: column;
    padding: 1.3em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.extension-community-title{
    font-size: var(--fs-extra-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;  
}
.swiper-container{
    width: 100dvw;
    padding-top: 1em ;
    padding-bottom:4em;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 430px;
    height: 430px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006); */
}

.brochure-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brochure-img img{
    max-width: 47%;
    display: block;
    margin: 0 auto;
 }
 .brochure-desc{
    text-align: center;
    font-size: 1em;
    margin: 30px 300px;
 }
 .slide-div{    
    text-align: justify;
    margin: 0 300px;
 }
 .slide-div h5{    
    text-align: center;
 }
 .slide-content-extension{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5em;
 }
 .extension-container{
    display: flex;
    flex-direction: column;
    padding: 1.3em 0;
    justify-content: center;
    align-items: center;
}
.extension-img-1 img{
    width: 1000px;
    height: auto;
}
.extention-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-extra-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;  
    margin-top: 0.5em;
 }
 .extention-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0 10em;
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
 }

 .extension-container-narratives{
    display: flex;
    flex-direction: column;
    padding: 1.3em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .extension-cssd-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
 }

 .extension-list-cssd{
    text-align: justify;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0em 12em;
   
 }
 .extension-alphabets{
    list-style-type: lower-alpha;
    
 }
 .extension-romans{
    list-style-type: lower-roman;
 }
 .extension-list-title{
    font-weight: 700;
 }
 .extension-container-psykalinga{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
 }