*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    width: 100vw;
    background-color: #800000 ; 
    
    /* top: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > box-icon {
    height: 10%;
    font-size: 5rem;
}

header > box-icon > svg {
    width: 3rem;
    height: 3rem;
}

header > box-icon:last-child {
    align-self: center;
    top: 0;
    z-index: 10000;
}

.launch-main-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.launch-main-title{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}

.launch-main-course{
    font-size: 2.6em;
    font-weight: 600;
    
}

.launch-main-quote{
    font-size: 2em;
    font-weight: 300;
}

.home{
    height: 100vh;
}