:root {
    --fs-double-smallest: calc(0.2em + 1vw);
    --fs-smallest: calc(0.25em + 1vw);
    --fs-smaller: calc(0.5em + 1vw);
    --fs-small: calc(0.75em + 1vw);
    --fs-regular: calc(1em + 1vw);
    --fs-large: calc(1.5em + 1vw);
    --fs-extra-large: calc(2em + 1vw);
    --fs-double-extra-large: calc(2.5em + 1vw);

    --clr-nav: #000000a8;
    --clr-text-contrast: #ffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
a {
    color: white!important;
    text-decoration: none !important;
}
header.header-home {
    height: 100dvh;
    background-color: #800000 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    position: sticky;
    transition: all ease-in-out 0.5s;
    z-index: 1;
}


header.header-home > button:last-child {
    visibility: visible;
}

header:before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #deaa2a;
    top: 100%;
    position: absolute;
}
header:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #314628;
    top: 102%;
    position: absolute;
}

header > button {
    font-size: 2.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #800000;
    cursor: pointer;
    color: #ffff;
    width: min-content;
}

header > button:last-child {
    align-self: center;
}

button {
    border-width: 0;
    width: 100%;
}

ul, ol {
    list-style: none; 
} 

.launch-main-container{
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: all ease-in-out 0.5s;
    
}
.launch-main-title{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    transition: all ease-in-out 0.5s;
}

.launch-main-course{
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    font-weight: 800;
    transition: all ease-in-out 0.5s;
    
}

.launch-main-quote{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
    transition: all ease-in-out 0.5s;
}
.launch-main-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch-image img{
    width: 12vh;
    margin: 1.7rem 1rem;
    height: auto;
    object-fit: cover;
}

/* .home{
    height: 100dvh;
} */

nav {
    background-color: var(--clr-nav);
    width: 30%;
    padding: 1rem;
    position: fixed;
    transform: translate(-100%);
    z-index: 1000;
    height: 100dvh;
    top: 0;

}

nav > *,
nav button {
    color: var(--clr-text-contrast) !important;
}

nav > div {
    display: flex;
    align-items: center;
    font-size: var(--fs-extra-large);
    padding: 6rem 1rem !important; 
    height: 10%
}

nav > div > img {
    width: 8rem;
    height: auto;
    padding: 0 1rem !important; 
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: 90%;
}

nav button {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 2rem !important;
    text-align: start !important;
    font-size: var(--fs-double-smallest) !important;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: transparent !important;
    
}

nav button.btn-toggle ~ div button {
    font-size: var(--fs-smallest) !important;
    padding: 0 5rem !important;
}

nav button.btn-toggle[aria-expanded="true"] > i:last-child {
    transform: rotate(180deg);
}

@keyframes nav-slide-in {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes nav-slide-out {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-100%);
    }
}

.nav-slide-in {
    animation: nav-slide-in 0.25s ease-in both;
}
.nav-slide-out {
    animation: nav-slide-out 0.25s ease-in both;
}


/* HomePage */
.home {
    display: flex;
    flex-direction: column;
}
.home > div {
    height: 100dvh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.home-container-passingrate-one,.home-container-passingrate-three{
    padding-top: 20rem;
}

.home-container-passingrate-one,.home-container-passingrate-three{
    padding-top: 20rem;
}
.home-container-percentage-one, .home-container-percentage-three{
    text-shadow: 5px 1px #f2ca3e;
    font-size: 6em;
    font-weight: 700;
    color: #800000;
}
.home-container-details-one, .home-container-details-three{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    text-shadow: 5px 1px 5px black;
}
.home-container-national-one, .home-container-national-three{
    font-size: 0.9em;
    font-weight: 700;
    color: #ffff;
    text-shadow: 5px 1px 5px black;
}
.home-container-percentage-two{
    font-size: 8em;
    text-shadow: 5px 1px #f2ca3e;
    font-weight: 700;
    color: #800000;
}
.home-container-details-two{
    font-size: 1.5em;
    font-weight: 700;
    color: #ffff;
    text-shadow: 5px 1px 5px black;
}
.home-container-national-two{
    font-weight: 700;
    color: #ffff;
    text-shadow: 5px 1px 5px black;
}

.home-main-images{
    display: flex;
    justify-content: flex-end;
    /* margin-top: 5rem; */
    /* margin-right: 17rem; */
    margin-top: 5rem;
    padding-right: 5rem;
}

.home-image img{
    width:  12vh;
    margin: 0 0.5rem;
    height: auto;
    object-fit: cover;
}

.home > div:nth-child(1) {
    background-image: url(images/Home_background.jpg);
}

.home > div:nth-child(2) {
    background-image: url(images/Global\ UGRAD\ Awardees-cropped.jpg);
    display: flex;
    flex-direction: column-reverse;
    color: var(--clr-text-contrast);
    text-align: center;
    font-size: var(--fs-smaller);
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
}

.home > div:nth-child(2) > hgroup {
    padding: 0 3rem;
}

.home > div:nth-child(2) > hgroup > * {
    padding-bottom: 3rem;
}

.home > div:nth-child(2) > hgroup > h3 {
    font-size: var(--fs-large) !important;
}

.home > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80dvh;
    padding: 3rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/Pscyh-Background.png');
}

.home > div:nth-child(3) > div:first-child {
    height: 70dvh;
    width: 30dvw;
}

.home > div:nth-child(3) > div:nth-child(2) {
    width: 60dvw;
    font-size: var(--fs-smaller);
    text-align: justify;
}

.home > div:nth-child(3) > div > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    border: solid 7px #800000;
    box-shadow: 7px 7px #314628;
}

.home > div:nth-child(4) {
    height: 90dvh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    overflow: hidden;
    padding: 0 3rem;
    
}

.home > div:nth-child(4) .swiper-wrapper {
    height: 100%;
}

.home > div:nth-child(4) .swiper-container {
    display: flex;
    width: 90dvw;
    flex-direction: column;
}

.home > div:nth-child(4) .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 500px;
}


.home > div:nth-child(4) > p {
    padding: 1rem 2rem 0 2rem;
    margin: 0 !important;
    text-align: center;
    font-size: var(--fs-smallest);
}



/* TEMPLATE HEADER */
header {
    height: 20vh;
    flex-direction: row;
    background-color: #800000 ;
    display: flex;
    position: sticky;
    justify-content: space-between;
    transition: all ease-in-out 0.5s;
}

header > button:last-child {
    visibility: hidden;
}

header .launch-main-title {
    font-size: 2.2em;
}

header .launch-main-course {
    font-size: 1.75em;
}

header .launch-main-quote {
    font-size: 1.2em;
}


/* Compliance Report */
.compliance-report-container{
    display: flex;
    flex-direction: column;
    padding: 1.3em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.compliance-report-title{
    font-size: var(--fs-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;  
}

.compliance-report-subtitle{
    font-size: var(--fs-extra-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;  
}


/* About Us */
.about-us-main{
    background: url('./images/Pscyh-Background.png');
    height: 80dvh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.about-us-vision{
    padding-top: 3em ;
}
.about-us-container, .about-us-mission-vision-container{
    margin: 0 5em;
}
.about-us-title{
    font-weight: 700;
    font-size: var(--fs-extra-large)
}
.about-us-details{
    font-weight: 500;
    font-size: var(--fs-smallest);
}

/* Performance Graduates */
.performance-graduates-main{
    background: url(images/Pscyh-Background-2.png);
    height: 75dvh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    height: 70dvh !important;
}
.card-body {
    background-color: #640000; 
    height: 100%  !important;
    
}
.card-body h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: var(--fs-small);
    color: white; 
    text-align: center;
    z-index: 1;
}
.card-img-grad{
    
    width: 100% !important;
    height: 93% !important;
    object-fit: cover;
    
}
.owl-carousel div:nth-child(odd) .card-img-grad{
    border: solid 5px #314628 !important ;
}

.owl-carousel div:nth-child(even) .card-img-grad{
    border: solid 5px #deaa2a !important ;
}

/* Faculty Tab */
.faculty-container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    gap: 2rem;
}
.faculty-title{
    font-size: var(--fs-extra-large);
    font-weight: 600;
}
.faculty-container-top{
    display: grid;
    grid-template-columns: 30em 30em;
    gap: 2em;
    padding: 1em 0;
    
}
.faculty-wrapper-top, 
.faculty-wrapper-bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
.faculty-wrapper-top img{
    width: 12em;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.faculty-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faculty-name-top{
    font-size: var(--fs-small);
    font-weight: 600;
    margin-bottom: 0em;
}
.faculty-position-top{
    font-size: var(--fs-smallest);
    font-weight: 400;
}
/* Bottom Part */
.faculty-container-bottom{
    display: grid;
    grid-template-columns: 25em 25em 25em;
    gap: 2em; 
}

.faculty-wrapper-bottom img{
    width: 8em;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.faculty-name-bottom{
    font-size: var(--fs-smaller);
    font-weight: 600;
    margin-bottom: 0em;
}
.faculty-position-bottom{
    font-size: var(--fs-double-smallest);
    font-weight: 400;
}

/* Title with Flipbook Contents */
.psych-title-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-extra-large);
    font-weight: 700;
}
.pdf-file-iframe{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-two-template{
    background: url(images/Pscyh-Background-2.png);
    height: 80dvh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-pscyh-two-auto{
    background: url(images/Pscyh-Background-2.png);
    height: auto;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}