/* topnotcher */
.extension-community-main{
    min-height: 100dvh;
    margin: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.extension-community-title{
    font-size: var(--fs-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
.swiper-container{
    width: 100%;
    overflow: hidden;
    padding-bottom: 5em;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 430px;

}
.slide-div{
    margin: 2em 10% ;
    text-align: justify;
}
.slide-div .slide-content-extension{
    margin: 1em 0;
    text-align: justify;
}
.slide-div .two-paragraphs{    
    text-indent: 5em;
    margin: 1em 0;
    /* height: 15em; */
}
.slide-div h5{    
    text-align: center;
}
.planning-main-container{
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}
.planning-title{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.planning-text{
    text-align: justify;
    margin: 1em 10%;
    font-size: 1.2em;
    font-weight: 500;
}
.slide-content-title{
    font-size: 2em;
    font-weight: 700;
}
.slide-content-extension{
    font-size: 1.2em;
    font-weight: 500;
}
