.research-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    padding: 1.2em 10%;
    text-align: justify;
    text-indent: 5em;
    font-weight: 600;
    line-height: 2.1em;
}


/* topnotcher */
.extension-community-main{
    min-height: 100dvh;
    margin: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.research-main-title{
    margin-top: 0.5em;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
}
.research-title{
    font-size: var(--fs-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
}
.swiper-container{
    width: 100%;
    overflow: hidden;
    padding-top: 2em ;
    padding-bottom: 2em;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 380px;

}
.slide-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10%;
}

.slide-content{
    text-indent: 5em;
    font-size: 1.3em;
    margin-bottom: 2em;
    text-align: justify;
}
