/* topnotcher */
.extension-community-main{

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.extension-community-title{
    font-size: var(--fs-large);
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
.swiper-container{
    width: 100dvw;
    padding-top: 1em;
    padding-bottom: 3em;
}
.notable-container{
    width: 100dvw;
    padding-top: 1em;
    padding-bottom: 2em;
   
}
.notable-main-container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3em;
}
.narratives-report-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-small);
    margin: 0 5em;
    margin-bottom: 5em;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 430px;
}
.brochure-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brochure-img img{
    max-width: 47%;
    display: block;
    margin: 0 auto;
 }
 .brochure-desc{
    text-align: center;
    margin: 30px 300px;
 }
 .slide-div{    
    text-align: justify;
    margin: 0 300px;
    margin-bottom: 5em;
    height: 50vh;
  
   
 }
 .slide-div p{   
    font-size: 1.3em; 
    
    text-align: center;
 }
